* {
    margin: 0;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: -150px;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid black;
}

#control {
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 0;
    right: 700px;
    margin: auto;
    width: 106px;
    height: 100px;
    text-align: center;
}

#chat {
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 710px;
    right: 0;
    margin: auto;
    width: 243px;
    height: 100px;
}

#messages {
    height: 90px;
    border: 1px solid black;
    margin-top: 5px;
    overflow-y: scroll;
}

input[type=text] {
    margin-top: 5px;
    width: 239px;
}

#control button {
    margin: 5px;
    padding: 5px;
}